.Box{
    height: 200px;
    width: 200px;
    align-content: left;
    margin-left: 70px;
}

.spinner{
    align-content: center;
}

button{
    height: 25px;
    width: 25px;
    margin-left: 200px;
    background-color: rgb(253, 182, 182);
    border: 0;
}
h1{
    color: Black;
}
.message{
    color: black;
}