<div class="container">
  <img class="loginimg" src="https://www.scnsoft.com/blog-pictures/software-development-outsourcing/leave-management-software.png">
    <img class="logo-overlay" src="https://uploads-ssl.webflow.com/60cb8979aa0d47232e309268/60cb9e4df1877a2388b5c590_IVIS_Logo-p-500.png" alt="Logo">
  <div id="wrapper">
    <div class="form">
    <form [formGroup]="register" id="form">
      <h1>Forgot Password</h1>
      
      <label for="Email">Registered Email or Phone Number</label>
      <input type="text" id="Email" name="employeeId" formControlName="toEmail" placeholder="Enter">
      <button class="btn" type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>
</div>


      
    
    