.wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 200px;
}
h1{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}
#wrapper{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10%;
    width: 250px;
}
#Email{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
   
}
label{
    color: white;
}
button{
    margin-top: 10px;
    margin-left: 75px;
}