.container {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100vh; /* Full viewport height */
}

.loginimg {
    width: 65%;
    height: 100%;
    display: block; 
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 150px;/* Adjust spacing between image and form */
}


.ivis-logo {
    width: 300px;
    height: 50px;
}

h1 {
    
    color: black;
    margin-left: 37%;
}
label{
    color: black;
}
#Manager,#EID, #Department, #role{
    width: 323px;
    height: 42px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
   
    font-size: 500;
    border: none; /* Remove border */
    border: 1px solid rgb(215, 215, 215); /* Add bottom border for underline effect */
    outline: none; /* Remove outline */
    border-radius: 10px;
    border-width: 2px;
    padding-left:10px
    
}
 #password,#name,#Email,#MID,#Phone{
    width: 300px;
    height: 39px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
   
    font-size: 500;
    border: none; /* Remove border */
    border: 1px solid rgb(215, 215, 215); /* Add bottom border for underline effect */
    outline: none; /* Remove outline */
    border-radius: 10px;
    border-width: 2px;
}
#EID, #password,#Department,#Manager,#name,#role,#Email,#MID,#Phone::placeholder{
    font-size: 15px
}

input{
    margin-top: 20px;
    padding-left: 15px;
}
label{
    margin-top: 30px;
    margin-left: 30px;
}



.ForgotPassword {
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: black;
}

.register {
    font-weight: 500;
    color: black;
}

.registernow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.btn {
    background-color: rgb(29, 130, 218);
    color: white;
    height: 40px;
    border-radius: 20px;
    width: 150px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 19px;
    font-weight: 500;
    border: 0;
}



.btn:hover {
    background-color:rgb(237, 179, 5);
    color: black;
    cursor: pointer;
}
form{
    margin-left: 20px;
}

.h1over {
    color: white; 
}


.logo-overlay {
    position: absolute;
    top: 5%; /* Adjust this value as needed */
    left: 10%;
    transform: translateX(-50%);
    width: 200px; /* Adjust size as needed */
}

.eye{
    position: absolute;
    right:160px;
    top: 43%;
    transform: translateY(-50%);
    color: black;
}
