<div class="container">
  <img class="loginimg" src="https://www.scnsoft.com/blog-pictures/software-development-outsourcing/leave-management-software.png">
  <img class="logo-overlay" src="https://uploads-ssl.webflow.com/60cb8979aa0d47232e309268/60cb9e4df1877a2388b5c590_IVIS_Logo-p-500.png" alt="Logo">
  <div class="wrapper">
    <form id="wrapper" [formGroup]="resetForm" (ngSubmit)="reset()">
      <h1>Reset Password</h1>
      <p>Enter the UserId and password for reset</p>
      <label for="password">New Password:</label>
      <input id="password" type="text" formControlName="password">
      <label for="conformpassword">Confirm Password:</label>
      <input id="conformpassword" [type]="changetype ? 'password' : 'text'" formControlName="confirmPassword">
      <span class="eye" (click)="viewpass()"><i [ngClass]="visible ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i></span>
      <button type="submit">Done</button>
    </form>
  </div>
</div>
