
h1{
    color: black;
    
    
}
p{
    color: white;
    display:flex ;
    justify-items: center;
    text-align: center;
    

}
label{
    color: black;
    display: flex;
}

#resetpassword{
   
    width: 200px;
}
button{
    margin-top: 20px;
    display: flex;
    margin-left: 75px;   
    text-align: center;
}
.container {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100vh; /* Full viewport height */
}
.loginimg {
    width: 65%;
    height: 100%;
    display: block; 
}

#wrapper {
    display: flex;
    flex-direction: column;
    
    
    width: 250px;
    margin-left: 150px;/* Adjust spacing between image and form */
    margin-top: 30%;
}
.ivis-logo {
    width: 300px;
    height: 50px;
}
.logo-overlay {
    position: absolute;
    top: 5%; /* Adjust this value as needed */
    left: 10%;
    transform: translateX(-50%);
    width: 200px; /* Adjust size as needed */
}
#password , #conformpassword{

    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
   
    font-size: 500;
    border: none; /* Remove border */
    border: 1px solid rgb(215, 215, 215); /* Add bottom border for underline effect */
    outline: none; /* Remove outline */
    border-radius: 10px;
    border-width: 2px;
}
#password, #conformpassword::placeholder{
   
    font-size: 15px;
}
button {
    background-color: rgb(29, 130, 218);
    color: white;
    height: 40px;
    border-radius: 20px;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 500;
    border: 0;
    text-align: center;
    display: block; /* Ensure the button is a block element */
    margin: 20px auto; /* Center the button horizontally */
}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover {
    background-color:rgb(237, 179, 5);
    color: black;
    cursor: pointer;
}
label {
    color: black;
    text-align: left; /* Ensure labels are aligned left */
    margin-left: 30px;
}
.eye{
    position: absolute;
    right:150px;
    top: 63%;
    transform: translateY(-50%);
    color: black;
}
.eyeu{
    position: absolute;
    right:150px;
    top: 63%;
    transform: translateY(-50%);
    color: black;
}